<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='../public/stylesheets/style.css' type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
</head>


<header>
    <div class="jumbotron" id ="header">
        <button type="button">HOME</button>
        <button type="button">MENU</button>
        <button type="button">ABOUT</button>
        <button type="button">
            <img src="../public/images/logowhite.png" style="msargin:auto; height:80px; width: 70px; display:block" />
        </button>
        <button type="button">RESERVATIONS</button>
        <button type="button">GALLERY</button>

    </div>
</header>
<div class="jumbotron" id="div1">
    <h1>This is where the pictures go</h1>
    <img src="../public/images/sushi-5-1.jpg" style="text-align: center; height: 400px; width: 600px ">
</div>
<div class="jumbotron" id="div2">
    <h1>This is where the about and updates go</h1>
</div>
<footer>
    <!--<div>-->
        <button type="button">
            <img src="../public/images/twitter.png" style="msargin:auto; height:80px; width: 70px; display:block" />
        </button>
        <button type="button">
            <img src="../public/images/yelp.png" style="msargin:auto; height:80px; width: 70px; display:block" />
        </button>
        <button type="button">
            <img src="../public/images/facebook.png" style="msargin:auto; height:80px; width: 70px; display:block" />
        </button>
        <button type="button">
            <img src="../public/images/instagram.png" style="msargin:auto; height:80px; width: 70px; display:block" />
        </button>
    <!--</div>-->

</footer>
</html>