body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#header {
  background-color:black;
  color:red;
  text-align:center;
  padding:5px;
  display: block;
}
button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

footer {
  background-color: black;
  text-align: center;
}
